/* css styles */

@media (max-width: 575px) {

    .link-cards .card {
      margin-bottom: 20px;
      margin-right: 35px;
    }
    
    }
    
@media (min-width: 576px) { 
    .link-cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .link-cards .card {
      width: 250px;
      margin: 0 20px 12px 0;
    }
    
    
    }
    
    
    .link-cards .card {
      border: none;
      padding: 0;
    }
    
    .link-cards .card-title h4 {
      margin-top: 0;
    }
    
    .link-cards .card-title p {
      margin-bottom: 0;
    }
    
    .link-cards .card-subtitle {
      margin-bottom: 0.7rem;
    }
    
    .link-cards .card-body {
      padding: 0.5rem;
      padding-left: 0.1rem;
    }
    
    .link-cards .card-body ul {
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;
    }
    
    .link-cards .card-body ul a {
      text-decoration: none;
    }
    
    .link-cards .card-body ul li {
      padding-bottom: 0.2rem;
    }

    .card .source-code {
        margin-top: 3px;
    }

@media (min-width: 576px) {
    .blog-card .card {
        margin-top: 20px;
    }
  }

  .hero-banner {
    position: relative;
    left: -5px;
    /* right: 5px; */
    /* background-color: rgb(240,245,249); */
    /* background-color: aliceblue; */
    background-color: ghostwhite;
    /* background-color: whitesmoke; */
    border-radius: 10px;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
  }

  .hero-text {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .hero-text .p {
    padding-bottom: 0px;
  }

